<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="self.liang.springboot.example.mapper.Employee2Mapper">
    <cache></cache>
    <select id="getEmpById" resultType="self.liang.springboot.example.entity.Employee">
        select * from employee where id = #{id}
    </select>
</mapper>
